body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../w3.jpg);
    background-position: center;
    height: 700px;
    background-size: cover;

}
.container{
    font-size: 18px;
    padding: 15px;
    margin-left: 70%;
}
nav{
    background-color: lightgrey;
    display: block;
    box-shadow: 0 0px 10px 0;
}
a{
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    color: black;
}
.active{
    background-color: darkorange;
    color: white;
}
.container a:hover{
    background-color: darkorange;
    color: white;
    transition: 0.5s;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: none;
    border: none;
    font-size: 18px;
    padding: 10px 25px;
}
.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
    display: block;
    padding: 15px 45px;
    text-decoration: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: grey;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    color: white;
    transition: 0.5s;
}
.dropdown:hover .dropbtn {
    background-color: darkorange;
    color: white;
    transition: 0.5s;
}
ul{
    position: absolute;
    display: inline-block;
    margin-left: -20px;
}
img{
    height: 40px;
    width: 40px;
    box-shadow: 10px 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 9px;
}
h1{
    margin-top: 3px;
    font-size: 24px;
    box-shadow: 10px 0 10px 0 rgba(0,0,0,0.2); 
    margin-left: 55px;
    padding: 4px; 
    border-radius: 2px;
    cursor: default;
}
.operation{
    margin-left: 10%;
    margin-top: 80px;
    color: white;
}
input{
    border-top: 2px solid black;
    padding: 10px 40px;
}
.Add{
    padding: 15px;
    border: none;
    background-color: lightgrey;
    font-size: 15px;
    cursor: pointer;
}
.Sub{
    padding: 15px;
    border: none;
    background-color: lightgrey;
    font-size: 15px;
    cursor: pointer;
}
.Mul{
    padding: 15px;
    border: none;
    background-color: lightgrey;
    font-size: 15px;
    cursor: pointer;
}
.Div{
    padding: 15px;
    border: none;
    background-color: lightgrey;
    font-size: 15px;
    cursor: pointer;
}
